.blog {
  padding: 40px 0;
  max-width: 800px;
  margin: 0 auto;
}

.blog h2 {
  text-align: center;
  margin-bottom: 20px;
}

.blog-posts {
  display: grid;
  gap: 30px;
}

.blog-post {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 5px;
}

.blog-post h3 {
  margin-top: 0;
  color: var(--primary-color);
}

.post-date {
  font-style: italic;
  color: #888;
  margin-bottom: 10px;
}

.read-more {
  display: inline-block;
  margin-top: 10px;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

.read-more:hover {
  text-decoration: underline;
}

@media (max-width: 850px) {
  .blog {
    max-width: 90%; /* Establece un ancho máximo del 90% en pantallas menores a 850px */
  }
}

@media (max-width: 768px) {
  .blog h2 {
    font-size: 1.5rem; /* Ajusta el tamaño de la fuente del título */
  }

  .blog-post {
    padding: 15px; /* Reduce el padding en pantallas más pequeñas */
  }

  .blog-post h3 {
    font-size: 1.5rem; /* Ajusta el tamaño de la fuente del título */
  }

  .post-date {
    font-size: 0.9rem; /* Ajusta el tamaño de la fecha */
  }
}

@media (max-width: 480px) {
  .blog h2 {
    font-size: 1.2rem; /* Reduce aún más el tamaño de la fuente del título */
  }

  .blog-post h3 {
    font-size: 1.2rem; /* Reduce aún más el tamaño de la fuente del título */
  }

  .post-date {
    font-size: 0.8rem; /* Ajusta el tamaño de la fecha */
  }

  .read-more {
    font-size: 0.9rem; /* Ajusta el tamaño del enlace "Leer más" */
  }
}
