.characteristics {
  padding: 40px 0;
  max-width: 800px;
  margin: 0 auto;
}

.characteristics h2 {
  text-align: center;
  margin-bottom: 20px;
}

.characteristic-section {
  margin-bottom: 20px;
}

.characteristic-section h3 {
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.characteristic-section h3:hover {
  background-color: var(--primary-color);
}

.characteristic-details {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
}

.characteristic-item {
  margin-bottom: 10px;
}

.characteristic-key {
  font-weight: bold;
  margin-right: 10px;
}

.characteristic-value {
  color: var(--text-color);
}

@media (max-width: 850px) {
  .characteristics {
    max-width: 90%; /* Establece un ancho máximo del 90% en pantallas menores a 850px */
  }
}

@media (max-width: 768px) {
  .characteristics {
    padding: 20px 0; /* Reduce el padding en pantallas más pequeñas */
  }

  .characteristics h2 {
    font-size: 1.5rem; /* Ajusta el tamaño de la fuente del título */
  }

  .characteristic-section h3 {
    font-size: 1.2rem; /* Ajusta el tamaño de la fuente del título */
    padding: 8px; /* Reduce el padding */
  }

  .characteristic-details {
    padding: 15px; /* Reduce el padding en detalles */
  }

  .characteristic-key {
    font-size: 0.9rem; /* Ajusta el tamaño de la clave */
  }

  .characteristic-value {
    font-size: 0.9rem; /* Ajusta el tamaño del valor */
  }
}

@media (max-width: 480px) {
  .characteristics h2 {
    font-size: 1.2rem; /* Reduce el tamaño de la fuente del título principal */
  }

  .characteristic-section h3 {
    font-size: 1rem; /* Reduce aún más el tamaño de la fuente del título */
  }

  .characteristic-key {
    font-size: 0.8rem; /* Ajusta el tamaño de la clave */
  }

  .characteristic-value {
    font-size: 0.8rem; /* Ajusta el tamaño del valor */
  }
}
