.photos {
  padding: 40px 0;
  max-width: 1080px;
  margin: 0 auto;
}

.photos h2 {
  text-align: center;
  margin-bottom: 20px;
}

.photos img {
  max-width: 100%; /* Asegura que la imagen no desborde su contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  margin: 0 auto;
}


.slick-prev, .slick-next {
  z-index: 1;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.slick-dots {
  bottom: -30px;
}

.slick-dots li button:before {
  color: var(--text-color);
}  

@media (max-width: 768px) {
  .photos {
    padding: 20px 0; /* Reduce el padding en pantallas más pequeñas */
  }

  .photos h2 {
    font-size: 1.5rem; /* Ajusta el tamaño de la fuente del título */
  }
}

@media (max-width: 480px) {
  .photos h2 {
    font-size: 1.2rem; /* Reduce aún más el tamaño de la fuente del título */
  }
}
