.videos {
  padding: 40px 0;
}

.videos h2 {
  text-align: center;
  margin-bottom: 20px;
}
.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video-thumbnail {
  border-radius: 10px;
  background-image: url('../assets/foto_cv_chinchilla.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
  padding: 20px;
  width: 300px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.video-thumbnail:hover {
  transform: scale(1.05);
}

.video-thumbnail img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  opacity: 0.8;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.video-thumbnail:hover .video-overlay {
  opacity: 1;
}

.video-item{
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px; 

}

.video-item h3 {
  
  margin-top: 10px;
  font-size: 1rem;
  color: var(--text-color);
  text-align: center;
}

.video-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.video-item {
  border-radius: 10px;
  padding-bottom: 10px;
}

.video-thumbnail {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
}

.video-thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.video-item:hover .video-thumbnail img {
  opacity: 0.7;
}

.video-item:hover .video-overlay {
  opacity: 1;
}

.video-item h3 {
  margin-top: 10px;
  font-size: 1rem;
}

#logo {
  display: block;
  margin: 0 auto;
  height: 2rem;
  opacity: 0.08;
}