:root {
  --primary-color: #e50914;
  --secondary-color: #221f1f;
  --text-color: #ffffff;
  --background-color: #000000;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;

}

h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5rem;
  color: var(--primary-color);
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.6s ease-out, transform 1.6s ease-out;
}

.animate-on-scroll.is-visible {
  opacity: 1;
  transform: translateY(0);
}

